<page-title [title]="title"></page-title>



<button id="grid" #grid type="button" (click)="showChart()" class="btn btn-dark float-right">View Chart</button>
<table class="table table-bordered table-striped table-sm">
  <thead class="thead-dark">
    <tr>
      
      <th scope="col" (click)="sort('code')" style="width: 10%">Code <i class="fas fa-sort"></i></th>
      <th scope="col" [style.width]="nameWidth">
        Name 
        <i class="fas fa-angle-double-right" (click)="incrNameWidth()" *ngIf="!isExpanded"></i>
        <i class="fas fa-angle-double-left" (click)="decrNameWidth()" *ngIf="isExpanded"></i>
      </th>
      <th scope="col">Shares</th>
      <th scope="col">Avg</th>
      <th scope="col">Price</th>
      <th scope="col" (click)="sort('cost')">Cost <i class="fas fa-sort"></i></th>
      <th scope="col" (click)="sort('value')">Value <i class="fas fa-sort"></i></th>
      <th scope="col" (click)="sort('gain')">Gain <i class="fas fa-sort"></i></th>
      <th scope="col">Gain %</th>
      <th scope="col" (click)="sort('delta')">Delta <i class="fas fa-sort"></i></th>
      <th scope="col" (click)="sort('deltapercent')">Delta % <i class="fas fa-sort"></i></th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-warning">
        <th scope="row" colspan="5">Total</th>
        <td>{{tcost | number:'1.0-2'}}</td>
        <td>{{tvalue | number:'1.0-2'}}</td>
        <td>{{tgain | number:'1.0-2'}}</td>
        <td>{{tgainpercent | number:'1.0-2'}}</td>
        <td>{{tchange | number:'1.0-2'}}</td>
        <td>{{tchangePercent | number:'1.0-2'}}</td>
     </tr>
     <ng-template ngFor let-item [ngForOf]="folios">
        <tr *ngIf="item.shares >0" [ngClass]="{'table-success': item.gainPercent >5,'table-danger': item.gainPercent <-5}">
            <th scope="row">{{item.code}}</th>
            <!--td>{{_tickerCache.has(item.code)?_tickerCache.get(item.code).name:''}}</td-->
            <td *ngIf="!isExpanded">{{ (item.name.length>8)? (item.name | slice:0:8)+'..':(item.name) }}</td>
            <td *ngIf="isExpanded">{{ (item.name.length>28)? (item.name | slice:0:26)+'..':(item.name) }}</td>
            <td>{{item.shares}}</td>
            <td>{{item.avgPrice | number:'1.0-2'}}</td>
            <td>{{item.currentPrice|number:'1.0-2'}}</td>
            <td>{{item.costValue|number:'1.0-2'}}</td>
            <td>{{item.currentValue|number:'1.0-2'}}</td>
            <td>{{item.gain|number:'1.0-2'}}</td>
            <td>{{item.gainPercent |number:'1.0-2'}}</td>
            <td>{{item.change|number:'1.0-2'}}</td>
            <td [ngClass]="{'bg-success': item.changePercent >2,'bg-danger': item.changePercent <-2}">
              {{item.changePercent|number:'1.0-2'}}
            </td>
          </tr>
     </ng-template>
    

    <tr class="table-warning">
      <th scope="row" colspan="5">Total</th>
      <td>{{tcost | number:'1.0-2'}}</td>
      <td>{{tvalue | number:'1.0-2'}}</td>
      <td>{{tgain | number:'1.0-2'}}</td>
      <td>{{tgainpercent | number:'1.0-2'}}</td>
      <td>{{tchange | number:'1.0-2'}}</td>
      <td>{{tchangePercent | number:'1.0-2'}}</td>
    </tr>
    
  </tbody>
</table>


<table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">Realised</th>
      </tr>
    </thead>
    <tbody>
      
       <ng-template ngFor let-item [ngForOf]="folios">
          <tr *ngIf="item.settledTxns.length >0">
              <th scope="row">{{item.code}}</th>
              <td>{{item.name}}</td>
              <td>{{item.realised |number:'1.0-2'}}</td>
            </tr>
       </ng-template>
      
  
      
      
    </tbody>
  </table>
  <div id="chart" #chart>
      <button type="button" (click)="showGrid()" class="btn btn-dark float-right">View Grid</button>
      <portfolio-trends [folioId]=folioId></portfolio-trends>
  </div>
  
  