<page-title [title]="title"></page-title>
<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Shares</th>
      <th scope="col">Avg  Price</th>
      <th scope="col">Current Price</th>
      <th scope="col">Cost Value</th>
      <th scope="col">Current Value</th>
      <th scope="col">Gain</th>
      <th scope="col">Gain %</th>
      <th scope="col">Day Change</th>
      <th scope="col">Day %</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let item of folios | async">
      <th scope="row">{{item.code}}</th>
      <td>{{_tickerCache.has(item.code)?_tickerCache.get(item.code).name:''}}</td>
      <td>{{item.shares}}</td>
      <td>{{item.avgPrice | number:'1.0-2'}}</td>
      <td>{{item.currentPrice|number:'1.0-2'}}</td>
      <td>{{item.costValue|number:'1.0-2'}}</td>
      <td>{{item.currentValue|number:'1.0-2'}}</td>
      <td>{{item.gain|number:'1.0-2'}}</td>
      <td>{{item.gainPercent |number:'1.0-2'}}</td>
      <td>{{item.change|number:'1.0-2'}}</td>
      <td>{{item.changePercent|number:'1.0-2'}}</td>
    </tr>

    <tr class="table-warning">
      <th scope="row" colspan="5">Total</th>
      <td>{{tcost | number:'1.0-2'}}</td>
      <td>{{tvalue | number:'1.0-2'}}</td>
      <td>{{tgain | number:'1.0-2'}}</td>
      <td>{{tgainpercent | number:'1.0-2'}}</td>
      <td>{{tchange | number:'1.0-2'}}</td>
      <td>{{tchangePercent | number:'1.0-2'}}</td>
    </tr>
    
  </tbody>
</table>
