<ng-container *ngIf="folio$ | async as folio; else loading">


  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><button type="button" [routerLink]="['/portfolio/']" routerLinkActive="active" class="btn btn-link">Portfolios</button></li>
      <li class="breadcrumb-item"><button type="button" [routerLink]="['/portfolio/',folioId]" routerLinkActive="active" class="btn btn-link">{{folio.name}}</button></li>
      
    </ol>
  </nav>
  
  <h4>Portfolio : {{folio.name}}</h4>
  <h6>{{folio.description}}</h6>
  <button type="button" routerLink="perf" routerLinkActive="active" class="btn btn-outline-primary">Performance</button>
  <button type="button" routerLink="txns" routerLinkActive="active" class="btn btn-outline-secondary">Transactions</button>
  <button type="button" routerLink="newtxn" routerLinkActive="active" class="btn btn-outline-info">Add New Transaction</button>
  <div class="mt-2 mb-2">
  
  </div>
  
  <router-outlet></router-outlet>
</ng-container>
<ng-template #loading>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><button type="button" [routerLink]="['/portfolio/']" routerLinkActive="active" class="btn btn-link">Portfolios</button></li>     
      
    </ol>
  </nav>
</ng-template>


