<page-title [title]="title"></page-title>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Shares</th>
      <th scope="col">Price</th>
      <th scope="col">Date</th>
      <th scope="col">Value</th>
      <th scope="col"><button type="button" class="btn btn-outline-danger" (click)='deleteAll(transactions)'>Delete All</button></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let wrpr of transactions">
      
      <th scope="row"><button type="button" routerLink="{{wrpr.docRef.id}}" routerLinkActive="active" class="btn btn-link">{{wrpr.txn.code}}</button></th>
      <td>{{wrpr.txn.name}}</td>
      <td>{{TxnType[wrpr.txn.type]}}</td>
      <td>{{wrpr.txn.shares}}</td>
      <td>{{wrpr.txn.price}}</td>
      <td>{{wrpr.txn.date|date:'dd/MM/yy'}}</td>
      <td>{{wrpr.txn.value |number:'1.0-2'}}</td>
      <td><button type="button" class="btn btn-outline-danger" (click)='deleteTxn(wrpr)'>Delete</button></td>
    </tr>
    
  </tbody>
</table>
